sanity4j/src/main/resources/findbugs-1.3.9.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- The schema for the Findbugs 1.3.9 result file -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://com.github.sanity4j/namespace/findbugs-1.3.9" xmlns:findbugs139="http://com.github.sanity4j/namespace/findbugs-1.3.9">
	<xs:element name="AuxClasspathEntry" type="xs:string"/>
	<xs:element name="BugCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:Description"/>
			</xs:sequence>
			<xs:attribute name="category" use="required" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BugCode">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:Description"/>
			</xs:sequence>
			<xs:attribute name="abbrev" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="cweid" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BugCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:Project"/>
				<xs:element ref="findbugs139:BugInstance" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="findbugs139:BugCategory" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="findbugs139:BugPattern" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="findbugs139:BugCode" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="findbugs139:Errors"/>
				<xs:element ref="findbugs139:FindBugsSummary"/>
				<xs:element ref="findbugs139:ClassFeatures"/>
				<xs:element ref="findbugs139:History"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
			<xs:attribute name="sequence" type="xs:boolean" use="required"/>
			<xs:attribute name="timestamp" type="xs:long" use="required"/>
			<xs:attribute name="analysisTimestamp" type="xs:long" use="required"/>
			<xs:attribute name="release" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BugInstance">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="findbugs139:ShortMessage"/>
				<xs:element ref="findbugs139:LongMessage"/>
				<xs:element ref="findbugs139:Class"/>
				<xs:element ref="findbugs139:Method"/>
				<xs:element ref="findbugs139:Field"/>
				<xs:element ref="findbugs139:LocalVariable"/>
				<xs:element ref="findbugs139:Type"/>
				<xs:element ref="findbugs139:String"/>
				<xs:element ref="findbugs139:SourceLine"/>
				<xs:element ref="findbugs139:Int"/>
				<xs:element ref="findbugs139:Property"/>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="priority" use="required" type="xs:int"/>
			<xs:attribute name="abbrev" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="category" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="instanceHash" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="instanceOccurrenceNum" type="xs:long" use="required"/>
			<xs:attribute name="instanceOccurrenceMax" type="xs:long" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BugPattern">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:ShortDescription"/>
				<xs:element ref="findbugs139:Details"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="abbrev" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="category" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="cweid" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Class">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:SourceLine"/>
				<xs:element ref="findbugs139:Message"/>
			</xs:sequence>
			<xs:attribute name="classname" type="xs:string" use="required"/>
			<xs:attribute name="role" type="xs:string"/>
			<xs:attribute name="primary" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClassFeatures">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ClassStats">
		<xs:complexType>
			<xs:attribute name="class" type="xs:string" use="required"/>
			<xs:attribute name="sourceFile" use="required" type="xs:string"/>
			<xs:attribute name="interface" use="required" type="xs:boolean"/>
			<xs:attribute name="size" use="required" type="xs:int"/>
			<xs:attribute name="bugs" use="required" type="xs:int"/>
			<xs:attribute name="priority_2" type="xs:int"/>
			<xs:attribute name="priority_1" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="Details" type="xs:string"/>
	<xs:element name="Errors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:Error" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="findbugs139:MissingClass" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="errors" type="xs:int" use="required"/>
			<xs:attribute name="missingClasses" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Error">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:ErrorMessage" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="findbugs139:Exception" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="findbugs139:StackTrace" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErrorMessage" type="xs:string"/>
	<xs:element name="Exception" type="xs:string"/>
	<xs:element name="StackTrace" type="xs:string"/>
	<xs:element name="Field">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:SourceLine"/>
				<xs:element ref="findbugs139:Message"/>
			</xs:sequence>
			<xs:attribute name="classname" type="xs:string" use="required"/>
			<xs:attribute name="name" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="signature" type="xs:string" use="required"/>
			<xs:attribute name="isStatic" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="false"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="primary" type="xs:boolean"/>
			<xs:attribute name="role" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FindBugsSummary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:FileStats" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="findbugs139:PackageStats" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="findbugs139:FindBugsProfile" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="timestamp" type="xs:string"/>
			<xs:attribute name="total_classes" type="xs:short"/>
			<xs:attribute name="total_bugs" type="xs:short"/>
			<xs:attribute name="total_size" type="xs:int"/>
			<xs:attribute name="num_packages" type="xs:short"/>
			<xs:attribute name="cpu_seconds" type="xs:decimal"/>
			<xs:attribute name="clock_seconds" type="xs:decimal"/>
			<xs:attribute name="peak_mbytes" type="xs:decimal"/>
			<xs:attribute name="alloc_mbytes" type="xs:decimal"/>
			<xs:attribute name="gc_seconds" type="xs:decimal"/>
			<xs:attribute name="priority_2" type="xs:int"/>
			<xs:attribute name="priority_1" type="xs:int"/>
			<xs:attribute name="referenced_classes" type="xs:int"/>
			<xs:attribute name="vm_version" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="History">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Int">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:Message"/>
			</xs:sequence>
			<xs:attribute name="value" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="role" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Jar" type="xs:string"/>
	<xs:element name="LastVersion">
		<xs:complexType>
			<xs:attribute name="value" type="xs:byte" use="required"/>
			<xs:attribute name="relOp" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocalVariable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:Message"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="register" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="pc" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="role" use="required" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LongMessage" type="xs:string"/>
	<xs:element name="Message" type="xs:string"/>
	<xs:element name="Method">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:SourceLine"/>
				<xs:element ref="findbugs139:Message"/>
			</xs:sequence>
			<xs:attribute name="classname" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="signature" type="xs:string" use="required"/>
			<xs:attribute name="isStatic" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="false"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="primary" type="xs:boolean"/>
			<xs:attribute name="role" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MissingClass" type="xs:string"/>
	<xs:element name="PackageStats">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:ClassStats" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="package" type="xs:NMTOKEN"/>
			<xs:attribute name="total_bugs" type="xs:int"/>
			<xs:attribute name="total_types" type="xs:int"/>
			<xs:attribute name="total_size" type="xs:integer"/>
			<xs:attribute name="priority_2" type="xs:int"/>
			<xs:attribute name="priority_1" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileStats">
		<xs:complexType>
			<xs:attribute name="path" type="xs:string" use="required"/>
			<xs:attribute name="bugCount" type="xs:int" use="required"/>
			<xs:attribute name="size" type="xs:int" use="required"/>
			<xs:attribute name="bugHash" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FindBugsProfile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:ClassProfile" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClassProfile">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="totalMilliseconds" type="xs:int" use="required"/>
			<xs:attribute name="invocations" type="xs:int" use="required"/>
			<xs:attribute name="avgMicrosecondsPerInvocation" type="xs:int"/>
			<xs:attribute name="maxMicrosecondsPerInvocation" type="xs:int"/>
			<xs:attribute name="standardDeviationMircosecondsPerInvocation" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Project">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:Jar" maxOccurs="unbounded"/>
				<xs:element ref="findbugs139:AuxClasspathEntry" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="findbugs139:SrcDir" maxOccurs="unbounded"/>
				<xs:element ref="findbugs139:SuppressionFilter"/>
			</xs:sequence>
			<xs:attribute name="filename" type="xs:string" use="required"/>
			<xs:attribute name="projectName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShortDescription" type="xs:string"/>
	<xs:element name="ShortMessage" type="xs:string"/>
	<xs:element name="SourceLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:Message" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="classname" type="xs:string" use="required"/>
			<xs:attribute name="start" type="xs:int"/>
			<xs:attribute name="end" type="xs:int"/>
			<xs:attribute name="sourcefile" type="xs:NMTOKEN"/>
			<xs:attribute name="sourcepath" type="xs:string"/>
			<xs:attribute name="relSourcepath" type="xs:string"/>
			<xs:attribute name="startBytecode" type="xs:int"/>
			<xs:attribute name="endBytecode" type="xs:int"/>
			<xs:attribute name="primary" type="xs:boolean"/>
			<xs:attribute name="synthetic" type="xs:boolean"/>
			<xs:attribute name="role" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SrcDir" type="xs:string"/>
	<xs:element name="Property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="String">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:Message"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string" use="required"/>
			<xs:attribute name="role" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SuppressionFilter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:LastVersion"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="findbugs139:SourceLine" minOccurs="0"/>
				<xs:element ref="findbugs139:Message"/>
			</xs:sequence>
			<xs:attribute name="descriptor" type="xs:string" use="required"/>
			<xs:attribute name="role" type="xs:NMTOKEN"/>
			<xs:attribute name="typeParameters" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
