jaxb-booleangetter-plugin-test/src/main/resources/test.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Simple schema used for testing the plugin -->

<xs:schema xmlns:tns="http://www.example.org/test/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/test/">

    <xs:complexType name="testType">
        <xs:all>
            <xs:element name="NonBoolean" type="xs:string"/>
        </xs:all>
        <xs:attribute name="Flag" type="xs:boolean"/>
    </xs:complexType>
    
</xs:schema>